<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="folderPath" value="G:\\Site Backups"/>
    <add key="directoryNames" value="Arnot,Camden,Duvha,Grootvlei"/>
    <add key="Arnot" value="Carab_Security,Arnot_MegaDB,Carab_Master,Arnot_Ducting_Module,Arnot_Milling_Module,Arnot_Milling_Module_Service,Mills,Arnot_Pipework,Arnot_Pressure_Parts,Arnot_Thick_Wall_Components"/>
    <add key="Camden" value="Carab_Security,Camden_MegaDB,Carab_Master,Camden_Pipework,Camden_Pressure_Parts,Camden_Thick_Wall_Components"/>
    <add key="Duvha" value="Carab_Security,Duvha_MegaDB,Carab_Master,Duvha_HP_Pipework,Duvha,Duvha_Thick_Wall_Components"/>
    <add key="Grootvlei" value="Carab_Security,Grootvlei_MegaDB,Carab_Master,Grootvlei_Unit_1__6_Pipework,Grootvlei_Unit_2_3__4_Pipework,Grootvlei_Unit_5_Pipework,Grootvlei_Unit_1__6,Grootvlei_Unit_2_3__4,Grootvlei_Unit_5,Grootvlei_Unit_1__6_Thick_Wall_Components,Grootvlei_Unit_2_3__4_Thick_Wall_Components,Grootvlei_Unit_5_Thick_Wall_Components"/>
    <add key="fileName" value="Latest Backup.txt"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
