<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="folderPath" value="G:\\Site Backups"/> 
    <add key="directoryNameq" value="Duvha"/>
    <add key="directoryNames" value="Arnot,Camden,Duvha,Grootvlei,Hendrina,Kendal,Komati,Kriel,Lethabo,Majuba,Matimba,Matla,Medupi,Tutuka"/>
    <add key="Arnot" value="^Carab_Security_[0-9]{8}$,^Arnot_MegaDB_[0-9]{8}$,^Carab_Master_[0-9]{8}$,^Arnot_Ducting_Module_[0-9]{8}$,^Arnot_Milling_Module_[0-9]{8}$,^Arnot_Milling_Module_Service_[0-9]{8}$,^Mills_[0-9]{8}$,Arnot_Pipework_[0-9]{8}$,^Arnot_Pressure_Parts_[0-9]{8}$,^Arnot_Thick_Wall_Components_[0-9]{8}$"/>
    <add key="Camden" value="^Carab_Security_[0-9]{8}$,^Camden_MegaDB_[0-9]{8}$,^Carab_Master_[0-9]{8}$,^Camden_Pipework_[0-9]{8}$,^Camden_[0-9]{8}$,^Camden_Thick_Wall_Components_[0-9]{8}$"/>
    <add key="Duvha" value="^Carab_Security_[0-9]{8}$,^Duvha_MegaDB_[0-9]{8}$,^Carab_Master_[0-9]{8}$,^Duvha_HP_Pipework_[0-9]{8}$,^Duvha_[0-9]{8}$,^Duvha_Thick_Wall_Components_[0-9]{8}$"/>
    <add key="Grootvlei" value="^Carab_Security_[0-9]{8}$,^Grootvlei_MegaDB_[0-9]{8}$,^Carab_Master_[0-9]{8}$,^Grootvlei_Unit_1__6_Pipework_[0-9]{8}$,^Grootvlei_Unit_2_3__4_Pipework_[0-9]{8}$,^Grootvlei_Unit_5_Pipework_[0-9]{8}$,^Grootvlei_Unit_1__6_[0-9]{8}$,^Grootvlei_Unit_2_3__4_[0-9]{8}$,^Grootvlei_Unit_5_[0-9]{8}$,^Grootvlei_Unit_1__6_Thick_Wall_Components_[0-9]{8}$,^Grootvlei_Unit_2_3__4_Thick_Wall_Components_[0-9]{8}$,^Grootvlei_Unit_5_Thick_Wall_Components_[0-9]{8}$"/>
    <add key="Hendrina" value="^Carab_Security_[0-9]{8}$,^Hendrina_MegaDB_[0-9]{8}$,^Carab_Master_[0-9]{8}$,^Hendrina_Type_C_[0-9]{8}$,^Hendrina_Type_C_Thick_Wall_Components_[0-9]{8}$,^Hendrina_Type_C_Pipework_[0-9]{8}$,^Hendrina_Type_B_[0-9]{8}$,^Hendrina_Type_B_Thick_Wall_Components_[0-9]{8}$,^Hendrina_Type_B_Pipework_[0-9]{8}$,^Hendrina_Type_A_[0-9]{8}$,^Hendrina_Type_A_Thick_Wall_Components_[0-9]{8}$,^Hendrina_Type_A_Pipework_[0-9]{8}$"/>
    <add key="Kendal" value="^Carab_Security_[0-9]{8}$,^Kendal_MegaDB_[0-9]{8}$,^Carab_Master_[0-9]{8}$,^Kendal_Pipework_[0-9]{8}$,^Kendal_Pressure_Parts_[0-9]{8}$,^Kendal_Thick_Wall_Components_[0-9]{8}$"/>
    <add key="Komati" value="^Carab_Security_[0-9]{8}$,^Komati_MegaDB_[0-9]{8}$,^Carab_Master_[0-9]{8}$,^Komati_HP_Pipework_Unit_1_-_3_[0-9]{8}$,^Komati_HP_Pipework_Unit_4__5_[0-9]{8}$,^Komati_HP_Pipework_Unit_6_-_9_[0-9]{8}$,^Komati_Unit_1_-_3_[0-9]{8}$,^Komati_Unit_4__5_[0-9]{8}$,^Komati_Unit_6_-_9_[0-9]{8}$,^Komati_Thick_Wall_Components_Unit_1_-_3_[0-9]{8}$,^Komati_Thick_Wall_Components_Unit_4__5_[0-9]{8}$,^Komati_Thick_Wall_Components_Unit_6_-_9_[0-9]{8}$"/>
    <add key="Kriel" value="^Carab_Security_[0-9]{8}$,^Kriel_MegaDB_[0-9]{8}$,^Carab_Master_[0-9]{8}$,^Kriel_Pipework_[0-9]{8}$,^Kriel_Pressure_Parts_[0-9]{8}$,^Kriel_Thick_Wall_Components_[0-9]{8}$,^New_Kriel_[0-9]{8}$"/>
    <add key="Lethabo" value="^Carab_Security_[0-9]{8}$,^Lethabo_MegaDB_[0-9]{8}$,^Carab_Master_[0-9]{8}$,^Lethabo_Pipework_[0-9]{8}$,^Lethabo_Pressure_Parts_[0-9]{8}$,^Lethabo_Thick_Wall_Components_[0-9]{8}$"/>
    <add key="Majuba" value="^Carab_Security_[0-9]{8}$,^Majuba_MegaDB_[0-9]{8}$,^Carab_Master_[0-9]{8}$,^Majuba_HP_Pipework_[0-9]{8}$,^Majuba_Pressure_Parts_[0-9]{8}$,^Majuba_Thick_Wall_Components_[0-9]{8}$"/>
    <add key="Matimba" value="^Carab_Security_[0-9]{8}$,^Matimba_MegaDB_[0-9]{8}$,^Carab_Master_[0-9]{8}$,^Matimba_HP_Pipework_[0-9]{8}$,^Matimba_Pressure_Parts_[0-9]{8}$,^Matimba_Thick_Wall_Components_[0-9]{8}$"/>
    <add key="Matla" value="^Carab_Security_[0-9]{8}$,^Matla_MegaDB_[0-9]{8}$,^Carab_Master_[0-9]{8}$,^Matla_HP_Pipework_[0-9]{8}$,^Matla_Pressure_Parts_[0-9]{8}$,^Matla_Thick_Wall_Components_[0-9]{8}$,^Matla_New_[0-9]{8}$"/>
    <add key="Medupi" value="^Carab_Security_[0-9]{8}$,^Medupi_MegaDB_[0-9]{8}$,^Carab_Master_[0-9]{8}$,^Medupi_HP_Pipework_[0-9]{8}$,^Medupi_Pressure_Parts_[0-9]{8}$,^Medupi_Thick_Wall_Components_[0-9]{8}$,^Medupi_CWDB_[0-9]{8}$"/>
    <add key="Tutuka" value="^Carab_Security_[0-9]{8}$,^Tutuka_MegaDB_[0-9]{8}$,^Carab_Master_[0-9]{8}$,^Tutuka_HP_Pipework_[0-9]{8}$,^Tutuka_[0-9]{8}$,Tutuka_Thick_Wall_Components_[0-9]{8}$,^Tutuka_Inspection_[0-9]{8}$"/>
    <add key="fileName" value="Latest Backup.txt"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
