<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="folderPath" value="G:\\Site Backups"/>
    <add key="directoryNames" value="Arnot,Camden,Duvha,Grootvlei,Hendrina,Kendal,Komati,Kriel,Lethabo,Majuba,Matimba,Matla,Medupi,Tutuka"/>
    <add key="Arnot" value="Carab_Security,Arnot_MegaDB,Carab_Master,Arnot_Ducting_Module,Arnot_Milling_Module,Arnot_Milling_Module_Service,Mills,Arnot_Pipework,Arnot_Pressure_Parts,Arnot_Thick_Wall_Components"/>
    <add key="Camden" value="Carab_Security,Camden_MegaDB,Carab_Master,Camden_Pipework,Camden_Pressure_Parts,Camden_Thick_Wall_Components"/>
    <add key="Duvha" value="Carab_Security,Duvha_MegaDB,Carab_Master,Duvha_HP_Pipework,Duvha,Duvha_Thick_Wall_Components"/>
    <add key="Grootvlei" value="Carab_Security,Grootvlei_MegaDB,Carab_Master,Grootvlei_Unit_1__6_Pipework,Grootvlei_Unit_2_3__4_Pipework,Grootvlei_Unit_5_Pipework,Grootvlei_Unit_1__6,Grootvlei_Unit_2_3__4,Grootvlei_Unit_5,Grootvlei_Unit_1__6_Thick_Wall_Components,Grootvlei_Unit_2_3__4_Thick_Wall_Components,Grootvlei_Unit_5_Thick_Wall_Components"/>
    <add key="Hendrina" value="Carab_Security,Hendrina_MegaDB,Carab_Master,Hendrina_Type_C,Hendrina_Type_C_Thick_Wall_Components,Hendrina_Type_C_Pipework,Hendrina_Type_B,Hendrina_Type_B_Thick_Wall_Components,Hendrina_Type_B_Pipework,Hendrina_Type_A,Hendrina_Type_A_Thick_Wall_Components,Hendrina_Type_A_Pipework"/>
    <add key="Kendal" value="Carab_Security,Kendal_MegaDB,Carab_Master,Kendal_Pipework,Kendal_Pressure_Parts,Kendal_Thick_Wall_Components"/>
    <add key="Komati" value="Carab_Security,Komati_MegaDB,Carab_Master,Komati_HP_Pipework_Unit_1_-_3,Komati_HP_Pipework_Unit_4__5,Komati_HP_Pipework_Unit_6_-_9,Komati_Unit_1_-_3,Komati_Unit_4__5,Komati_Unit_6_-_9,Komati_Thick_Wall_Components_Unit_1_-_3,Komati_Thick_Wall_Components_Unit_4__5,Komati_Thick_Wall_Components_Unit_6_-_9"/>
    <add key="Kriel" value="Carab_Security,Kriel_MegaDB,Carab_Master,Kriel_Pipework,Kriel_Pressure_Parts,Kriel_Thick_Wall_Components,New_Kriel"/>
    <add key="Lethabo" value="Carab_Security,Lethabo_MegaDB,Carab_Master,Lethabo_Pipework,Lethabo_Pressure_Parts,Lethabo_Thick_Wall_Components"/>
    <add key="Majuba" value="Carab_Security,Majuba_MegaDB,Carab_Master,Majuba_HP_Pipework,Majuba_Pressure_Parts,Majuba_Thick_Wall_Components"/>
    <add key="Matimba" value="Carab_Security,Matimba_MegaDB,Carab_Master,Matimba_HP_Pipework,Matimba_Pressure_Parts,Matimba_Thick_Wall_Components"/>
    <add key="Matla" value="Carab_Security,Matla_MegaDB,Carab_Master,Matla_HP_Pipework,Matla_Pressure_Parts,Matla_Thick_Wall_Components,Matla_New"/>
    <add key="Medupi" value="Carab_Security,Medupi_MegaDB,Carab_Master,Medupi_HP_Pipework,Medupi_Pressure_Parts,Medupi_Thick_Wall_Components,Medupi_CWDB"/>
    <add key="Tutuka" value="Carab_Security,Medupi_MegaDB,Carab_Master,Tutuka_HP_Pipework,Tutuka,Tutuka_Thick_Wall_Components,Tutuka_Inspection"/>
    <add key="fileName" value="Latest Backup.txt"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
